/* Add your profile image here */
.Photo {
  background-image: url("../../public/img/PhotoCV.jpg");
  background-position: center;
}

/* Projects Photo */
.Chifoumi {
  background-image: url("../../public/img/Chifoumi.png");
  cursor: none;
}
.FitClub {
  background-image: url("../../public/img/Capture\ d’écran\ de\ 2022-01-28\ 02-10-48.png");
  cursor: none;
}
.PiggyClicker {
  background-image: url("../../public/img/piggy_clicker.png");
  cursor: none;
}
.APIMétéo {
  background-image: url("../../public/img/soleilCouvert.png");
  cursor: none;
}
.ToDoList {
  background-image: url("../../public/img/markus-winkler-Q2J2qQsoYH8-unsplash.jpg");
  cursor: none;
}

/* Miscelaneous Activities photo */
.misc1 {
  background-image: url("../../public//img/logoLaPasserelle.jpeg");
  cursor: none;
}
.misc2 {
  background-image: url("../../public/img/logo-3WA.png");
  cursor: none;
}
.misc3 {
  background-image: url("../../public/img/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg");
  cursor: none;
}
